.spinner-sm { width: 1.2rem; height: 1.2rem; border-width: 0.15rem; }
.spinner-md { width: 2.5rem; height: 2.5rem; border-width: 0.25rem; }
.spinner-lg { width: 3.5rem; height: 3.5rem; border-width: 0.3rem; }