
<!-- ----------------- SISTEMA DESPLIEGUE ------------------ -->

<app-menu-etiqueta [etiqueta]="menuPrincipal.etiquetaDespliegue" />

<app-menu-simple [menusimple]="menuPrincipal.opcionSimple"/>

<app-menu-simple [menusimple]="menuPrincipal.opcionSimple2"/>

<app-menu-primer-nivel [primernivel]="menuPrincipal.menuPrimerNivel" />

<!-- ----------------- OPCIONES GLOBALES ------------------ -->

<app-menu-etiqueta [etiqueta]="menuDeOpcionesDos.etiquetaSistema" />

<app-menu-simple [menusimple]="menuDeOpcionesDos.opcionSimple"/>







<!-- --------- EJEMPLO MENU COMPLETO --------- -->
<!-- 
  <app-menu-etiqueta [etiqueta]="menuPrincipal.etiqueta" />

  <app-menu-segundo-nivel [segundoNivel]="menuPrincipal.menuSegundoNivel" />

  <app-menu-primer-nivel [primerNivel]="menuPrincipal.menuPrimerNivel" />

  <app-menu-simple [menuSimple]="menuPrincipal.opcionSimple"/>
 -->



